/* template-color */

.scroll-top{
  background: #e3a087;
}

.main-menu .navigation > li > ul,
.main-menu .navigation > li > .megamenu{
	background: #0b306e;
}

.main-menu .navigation > li > ul > li > a:hover,
.main-menu .navigation > li > .megamenu li > a:hover{
	color: #e3a087 !important;
}

.main-menu .navigation > li > ul > li > ul > li > a:hover{
  color: #e3a087;
}

.preloader-close{
  background: #e3a087;
}

.banner-carousel .content-box .btn-box a.banner-btn:hover{
  color: #e3a087;
}

.handle-preloader .animation-preloader .txt-loading .letters-loading{
  color: #e3a087;
}

.handle-preloader .animation-preloader .txt-loading .letters-loading:before{
  color: #e3a087;
}

.handle-preloader .animation-preloader .spinner{
  border: 3px solid #e3a087; 
}

.sticky-header{
  color: #000;
}

.sticky-header a,
.sticky-header .main-menu .navigation > li > a {
  color: #000 !important;
}

/* 1. Sticky header dropdown: white background on hover */
.sticky-header .main-menu .navigation > li > ul,
.sticky-header .main-menu .navigation > li > .megamenu {
  background: #f4deea;
}

.sticky-header .main-menu .navigation > li:hover > ul,
.sticky-header .main-menu .navigation > li:hover > .megamenu {
  background: #fff;
}

.theme-btn-one{
  background: #e3a087;
}

.theme-btn-one:hover{
  color: #e3a087;
}

.shop-block-one .inner-box .lower-content h3 a:hover{
  color: #e3a087;
}

.product-sidebar .sidebar-content .single-box .title-box:after{
  background: #e3a087;
}

.product-sidebar .sidebar-content .single-box .item-name .bye-btn a:hover{
  color: #e3a087;
}

.product-sidebar .sidebar-content .single-box .item-name h6 a:hover{
  color: #e3a087;
}

.theme-btn-two:hover{
  border-color: #e3a087;
}

.service-block-one .inner-box .lower-content h3 a:hover{
  color: #e3a087;
}

.service-block-one .inner-box:hover .lower-content .btn-box a{
  background: #e3a087;
}

.theme-btn-two:before,
.theme-btn-two:after{
  background: #e3a087;
}

.project-block-one .inner-box .lower-content .view-btn a{
  background: #e3a087;
}

.project-block-one .inner-box .lower-content .view-btn a:hover{
  color: #e3a087;
}

.project-block-one .inner-box .lower-content h3 a:hover{
  color: #e3a087;
}

.project-section .project-tab-btns li.active-btn,
.project-section .project-tab-btns li:hover{
  color: #e3a087;
}

.testimonial-section .nav-style-one .owl-nav .owl-prev:hover,
.testimonial-section .nav-style-one .owl-nav .owl-next:hover{
  background: #e3a087;
}

.testimonial-section:before{
  background: #ffad37;
}

.news-block-one .inner-box .image-box .category{
  background: #add8d3;
}

.news-block-one .inner-box .lower-content .post-info li a:hover{
  color: #e3a087;
}

.news-block-one .inner-box .lower-content h3 a:hover{
  color: #e3a087;
}

.contact-section .contact-info-inner .single-box .list li a:hover{
  color: #e3a087;
}

.contact-section .contact-info-inner .single-box .social-links li a:hover{
  border-color: #e3a087;
  background: #e3a087;
}

.default-form .form-group input:focus,
.default-form .form-group textarea:focus{
  border-color: #e3a087 !important;
}

.main-footer .subscribe-inner .subscribe-form .form-group input:focus{
  border-color: #e3a087 !important;
}

.footer-top .contact-widget .widget-content .info-list li a:hover{
  color: #e3a087;
}

.footer-top .contact-widget .widget-content .social-links li a:hover{
  background: #e3a087;
}

.footer-top .links-widget .links-list li a:hover{
  color: #e3a087;
}

.footer-top .shediul-widget .shediul-list li:last-child span{
  color: #e3a087;
}

.footer-bottom .copyright p a{
  color: #e3a087;
}

.footer-bottom .footer-nav li a:hover{
  color: #e3a087;
}

.main-header.style-two .search-box-btn:hover{
  color: #e3a087;
}

.main-header.style-two .cart-btn a:hover{
  color: #e3a087;
}

.bg-color-1{
  background: #bee0e3;
}

.sortable-masonry .filter-tabs li span:before{
  background: #f1cfc3;
}

.video-section .video-inner .video-btn a{
  background: #e3a087;
}

.coffee-menu-one .inner-box .icon-box .price{
  background: #add8d3;
}

.coffee-menu-one .inner-box h3 a:hover{
  color: #e3a087;
}

.video-style-two .video-btn a{
  color: #e3a087;
}

.project-block-two .inner-box .lower-content .view-btn a{
  background: #e3a087;
}

.project-block-two .inner-box .lower-content h3 a:hover{
  color: #e3a087;
}

.project-style-three .project-tab-btns li:before {
  background: #f1cfc3;
}

.project-style-three .nav-style-one .owl-nav .owl-next:hover,
.project-style-three .nav-style-one .owl-nav .owl-prev:hover{
  background: #e3a087;
}

.testimonial-style-three .nav-style-one .owl-nav .owl-prev:hover,
.testimonial-style-three .nav-style-one .owl-nav .owl-next:hover{
  background: #e3a087;
}

.footer-style-two .footer-widget ul li a:hover{
  color: #e3a087;
}

.footer-style-two .footer-widget ul li span{
  color: #e3a087;
}

.footer-style-two .footer-widget ul li a:before{
  background: #e3a087;
}

.footer-style-two .logo-widget .social-links li a:hover{
  background: #e3a087;
}

.main-header.style-four .nav-right .nav-list .mobile-nav-toggler:hover{
  color: #e3a087;
}

.main-header.style-four .search-box-btn:hover{
  color: #e3a087;
}

.main-header.style-five .main-menu .navigation > li.current > a, 
.main-header.style-five .main-menu .navigation > li:hover > a{
  color: #e3a087;
}

.main-header.style-five .main-menu .navigation > li.dropdown.current > a:before{
  color: #e3a087;
}

.shop-sidebar .sidebar-search .form-group input:focus{
  border-color: #e3a087 !important;
}

.shop-sidebar .sidebar-search .form-group input:focus + button,
.shop-sidebar .sidebar-search .form-group button:hover{
  color: #e3a087;
}

.default-sidebar .sidebar-categories .categories-list li a:hover{
  color: #e3a087;
}

.default-sidebar .sidebar-categories .categories-list li a:hover:before{
  background: #e3a087;
}

.range-slider .ui-slider .ui-slider-range{
  background: #e3a087;
}

.range-slider .ui-state-default,
.range-slider .ui-widget-content .ui-state-default{
  background: #e3a087;
}

.main-menu .navigation > li > ul > li:hover > a, 
.main-menu .navigation > li > .megamenu li:hover > a,
.main-header .sticky-header .main-menu .navigation > li ul li a:hover{
  color: #e3a087 !important;
}

.range-slider .filter-btn:hover{
  background: #e3a087;
}

.shop-sidebar .post-widget .post-inner .post .image-box{
  background: #e3a087;
}

.shop-sidebar .post-widget .post-inner .post h5 a:hover{
  color: #e3a087;
}

.shop-sidebar .post-widget .post-inner .post p{
  color: #e3a087;
}

.shop-page-section .item-shorting .right-column .menu-box a:first-child{
  background: #e3a087;
}

.pagination li a:hover,
.pagination li a.active{
  background: #e3a087;
}

.product-details-content .product-details h3{
  color: #e3a087;
}

.product-details-content .product-details .rating li{
  color: #fbb419;
}

.product-details-content .product-details .customer-rating .review a:hover{
  color: #e3a087;
}

.product-details-content .product-details .addto-cart-box .clearfix li a:hover{
  background: #e3a087;
}

.product-details-content .product-details .other-links .list li a:hover{
  color: #e3a087;
}

.single-product .product-discription .tabs-content .customer-review .single-review .inner .rating li{
  color: #fbb419;
}

.single-product .product-discription .tabs-content .customer-comments .rating-box .rating li{
  color: #fbb419;
}

.single-product .product-discription .tabs-content .customer-comments .comment-form .form-group input:focus,
.single-product .product-discription .tabs-content .customer-comments .comment-form .form-group textarea:focus{
  border-color: #e3a087 !important;
}

.cart-section .othre-content .coupon-box input:focus{
  border-color: #e3a087 !important;
}

.checkout-section .upper-box .single-box a{
  color: #e3a087;
}

.checkout-section .billing-form .form-group input:focus{
  border-color: #e3a087 !important;
}

.checkout-section .additional-info .note-book textarea:focus{
  border-color: #e3a087;
}

.checkout-section .payment-info .payment-inner .custom-controls-stacked .description a:hover{
  color: #e3a087;
}

.main-header.style-five .main-menu .navigation > li.dropdown:hover > a:before {
  color: #e3a087;
}

#image_block_1 .image-box .video-inner{
  background: #74cec4;
}

.ourhistory-section .inner-box .content-box .year{
  color: #e3a087;
}

.ourhistory-section .inner-content .line-box span{
  background: #e3a087;
}

.ourhistory-section .inner-content .line-box span:after{
  background: #e3a087;
}

.ourhistory-section .inner-content .line-box:before{
  background: #e3a087;
}

.team-block-one .inner-box .image-box .social-links li a:hover{
  background: #e3a087;
}

.team-block-one .inner-box .lower-content h3 a:hover{
  color: #e3a087;
}

.project-block-two .inner-box .lower-box h4 a:hover{
  color: #e3a087;
}

.ourmenu-section .single-menu-box .image-box{
  background: #e3a087;
}

.testimonial-block-two .inner-box .image-box{
  background: #f3d8cf;
}

.faq-section .accordion-box .block .acc-btn .icon-outer{
  background: #add8d3;
}

.faq-section .accordion-box .block .acc-content .list li:before{
  background: #e3a087;
}

.error-section .inner-box p a{
  color: #e3a087;
}

.news-block-one .inner-box .lower-content h2 a:hover{
  color: #e3a087;
}

.bg-color-3{
  background: #d7efec;
}

.bg-color-4{
  background: #f4eae8;
}

.blog-sidebar .search-widget .search-form .form-group button{
  background: #e3a087;
}

.blog-sidebar .search-widget .search-form .form-group input:focus{
  border-color: #e3a087 !important;
}

.blog-sidebar .post-widget .post .post-thumb{
  background: #e3a087;
}

.blog-sidebar .post-widget .post h5 a:hover{
  color: #e3a087;
}

.blog-sidebar .sidebar-archives .archives-list li a:hover{
  color: #e3a087;
}

.blog-sidebar .sidebar-archives .archives-list li a:hover:before{
  background: #e3a087;
}

.blog-sidebar .sidebar-tags .tags-list li a:hover{
  background: #e3a087;
  border-color: #e3a087;
}

.blog-post .post-inner .post-info li a:hover{
  color: #e3a087;
}

.blog-post .post-inner .category{
  background: #add8d3;
}

.blog-details-content blockquote{
  background: #fcf5f3;
}

.blog-details-content blockquote i{
  color: #e3a087;
}

.blog-details-content .two-column .text .list li i{
  color: #e3a087;
}

.blog-details-content .post-share-option{
  background: #fcf5f3;
}

.blog-details-content .post-share-option .social-links li a:hover{
  background: #e3a087;
}

.blog-details-content .comment-box .comment .comment-inner a:hover{
  color: #e3a087;
}

.blog-details-content .comments-form-area .form-group input:focus,
.blog-details-content .comments-form-area .form-group textarea:focus{
  border-color: #e3a087 !important;
}

.banner-section.style-four .banner-slider-nav .banner-slider-control:hover{
  color: #e3a087;
}

/* Sticky header background */
.sticky-header {
  background: #f4deea;
}

/* Dropdown menu in sticky header: match background and set text to black */
.sticky-header .main-menu .navigation > li > ul,
.sticky-header .main-menu .navigation > li > .megamenu {
  background: #f4deea;
}

.sticky-header .main-menu .navigation > li > ul > li > a,
.sticky-header .main-menu .navigation > li > .megamenu li > a {
  color: #000 !important;
}

/* Keep hover color as before */
.sticky-header .main-menu .navigation > li > ul > li > a:hover,
.sticky-header .main-menu .navigation > li > .megamenu li > a:hover {
  color: #e3a087 !important;
}

/* 1. Sticky header dropdown: white background on hover */
.sticky-header .main-menu .navigation > li > ul,
.sticky-header .main-menu .navigation > li > .megamenu {
  background: #f4deea;
}

.sticky-header .main-menu .navigation > li:hover > ul,
.sticky-header .main-menu .navigation > li:hover > .megamenu {
  background: #fff;
}

/* --- MAIN HEADER --- */

/* Top-level menu items: only text color changes on hover */
.main-header .main-menu .navigation > li:hover > a,
.main-header .main-menu .navigation > li.current > a {
  color: #e3a087 !important;
  background: transparent !important;
}

/* Dropdown menu items: background changes on hover */
.main-header .main-menu .navigation > li > ul > li > a:hover,
.main-header .main-menu .navigation > li > .megamenu li > a:hover {
  background: #f4deea !important;
  color: #000 !important;
}

/* --- STICKY HEADER --- */

/* All text and links in sticky header are black */
.sticky-header,
.sticky-header * {
  color: #000 !important;
}

/* Sticky header dropdown background */
.sticky-header .main-menu .navigation > li > ul,
.sticky-header .main-menu .navigation > li > .megamenu {
  background: #f4deea;
}

/* Sticky header dropdown: white background on hover */
.sticky-header .main-menu .navigation > li:hover > ul,
.sticky-header .main-menu .navigation > li:hover > .megamenu {
  background: #fff;
}

/* 1. Main header: top-level menu items text color changes to #f4deea on hover */
.main-header .main-menu .navigation > li > a:hover,
.main-header .main-menu .navigation > li.current > a {
  color: #f4deea !important;
  background: transparent !important;
}

/* 2. Sticky header: all text and dropdown items are black */
.sticky-header,
.sticky-header * {
  color: #000 !important;
}

/* Sticky header dropdown background (optional, keep if you want the dropdown bg to match header) */
.sticky-header .main-menu .navigation > li > ul,
.sticky-header .main-menu .navigation > li > .megamenu {
  background: #f4deea;
}